.card
    &__heading
        position: absolute
        color: white
        font-weight: 200
        font-size: 50px
        width: 30vw
        top: 10%
        height: 15%
        right: 10%
    &__skills
        display: flex
        position: absolute
        justify-content: space-between
        width: 70vw
        color: white
        font-weight: 200
        font-size: 30px
        top: 35%
        left: 10%
    &__first-row
        display: flex
        flex-direction: column
        height: 200px
        justify-content: space-between
    &__second-row
        display: flex
        flex-direction: column
        height: 200px
        justify-content: space-between
    &__third-row
        display: flex
        flex-direction: column
        height: 200px
        justify-content: space-between