.card
    &__name
        position: absolute
        color: white
        font-weight: 200
        font-size: 3.8em
        width: 30vw
        top: 7%
        left: 20%
    &__about
        display: flex
        flex-direction: column
        position: absolute
        width: 58vw
        color: white
        font-weight: 200
        font-size: 1.4em
        margin-left: 7em
        margin-top: 7em
        p
            &:nth-child(1)
                width: 50vw
            &:nth-child(2)
                width: 47vw
                margin-left: 3em
                margin-top: 2%
    &__photo
        position: absolute
        top: 10%
        right: 0
        img
            width: 35em
            height: 35em